{% extends 'characters/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Данный сайт разработан как вспомогательная база знаний по игре Star Wars Galaxy of heroes
        для гильдии The A Team Galaxy, а так же помощь в развитии канала <a href="https://www.youtube.com/c/DARKSIDETVYT">DARKSIDE TV</a></p>
    <p>А так же является учебным проектом для резюме Давыдовского И.К.</p>
    <p>Данный сайт разработан мною на основе видеокурсов Серегя Балакирева
        <a href="https://www.youtube.com/watch?v=FyTL1bnUx5I&list=PLA0M1Bcd0w8xO_39zZll2u1lz_Q-Mwn1F">SelfEdu</a>.</p>
    <br>
    <br>


    <h4>Мои собственные фитчи:</h4>
    <p>Полностью рабочий почтовый клиент подвязанный к моей почте на Google. Имел опыт попытки взлома
     из-за того, что от неопытности не скрыл секретный ключ и пароль от SMTP потключения, выложил
     на GitHub в открытый доступ. После предпринял меры для защиты файла settings.py и секретных переменных.</p>
    <p>Самостоятельно разбирался как выложить сайт на хостинге, так как видео уроки рассказывают о том как это делается на
        российском хостинге и по понятным причинам это стало невозможно.
    Временно сайт находится в режиме Debug=True так как иначе картинки пропадают перманентно.</p>

    <p><strong>P.S</strong>  Функция "Добавить персонажа" доступна и откроется только после регистрации</p>
    <p><strong>P.P.S</strong> Иконка гильдии в левом верхнем углу сайта является ссылкой на главную страницу :)</p>

{% endblock %}